<header class='header'>   
	<div class='header-top'>
		<nav class='nav container'>
			<ul>
				<li><a href='#' class='link-block'><%= title %></a></li>
				<li><a href='/logout' class='link-block'><%= __('LogOut') %></a></li>
			</ul>
		</nav>
	</div>
	<div class='header-bottom'>
		<div class='menu container'>
			<div class='logo'>
				<a href='/home' class='link-logo link-block'>
				<img src='/images/logo_img.png'>
				<img src='/images/logo_text.png'>
				</a>
			</div>
		</div>
	</div>
</header>
