<!DOCTYPE html>
<html>
  <head>
    <title><%= __(title) %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= __(title) %></h1>
    <p>Welcome to <%= __('Hello') %></p>
  </body>
</html>
