<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <h2><%= title %></h2>
    <div class="success">Go to LogIn page</div>
  </body>
</html>
