.content, .content-info  {
	padding: 20px;
}

.admin-content-main {
	display: flex;
	justify-content: flex-start;

	.content-info {
		margin-left: 80px;
		padding-top: 0;
		a {
			// height: 20px;
		}
		.categories-list {
			li {
				display: flex;
				margin-bottom: 5px;
				font-size: 1.8rem;
				// color: red;
				.update {
					margin-left: 20px;
					color: #0000FF;
				}
				.delete {
					margin-left: 20px;
					color: #FF0000;
				}
			}
		}
	}
}

.success-info{
	position: absolute;
	top: 200px;
	left: 600px;
	height: 150px;
	width: 300px;
	padding: 20px;
	background-color: rgb(121, 189, 121);
	z-index: 100;
	opacity: 0;

	.successEnd {
		margin: 30px auto;
	}
}

.success-active {
	opacity: 1;
}

