.content, .content-info  {
	padding: 20px;
}

.content-info {
	a {
		// height: 20px;
	}
	.all-categories {
		li {
			display: flex;
			.update {
				padding: 10px 20px;
				margin-right: 20px;
				background-color: #FFFF88;
			}
			.delete {
				padding: 5px;
				background-color: #FF0000;
				color: #FFFFFF;
			}
		}
	}
}
.success-info{
	position: absolute;
	top: 200px;
	left: 600px;
	height: 150px;
	width: 300px;
	padding: 20px;
	background-color: rgb(121, 189, 121);
	z-index: 100;
	opacity: 0;

	.successEnd {
		margin: 30px auto;
	}
}

.success-active {
	opacity: 1;
}

