@font-face {
  font-family: 'Google Sans';
  src: url("../fonts/Google-Sans-Font/GoogleSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Google Sans';
  src: url("../fonts/Google-Sans-Font/GoogleSans-Bold.ttf");
  font-weight: bold;
  font-style: normal; }

html {
  font-size: 10px; }
  html * {
    box-sizing: border-box; }
  html .container {
    width: 1110px;
    margin: 0 auto; }
  html .link-block {
    display: block;
    height: 100%; }
  html ul, html li {
    padding: 0;
    margin: 0; }
  html a {
    text-decoration: none; }
  html body {
    font-family: 'Google Sans', sans-serif;
    font-size: 14px;
    color: #363636;
    background: #E5E5E5; }
    html body ul {
      list-style: none; }
    html body .wrapper {
      min-height: 100vh; }
      html body .wrapper .uppercase {
        text-transform: uppercase; }
      html body .wrapper .t-bold {
        font-weight: bold; }
      html body .wrapper .product-type {
        color: #ffffff;
        background: linear-gradient(0deg, #7359BE, #7359BE), #2D9CDB;
        border-radius: 1px;
        height: 4.4rem;
        width: 19.5rem;
        display: flex;
        align-items: center; }
      html body .wrapper .header {
        width: 100%; }
        html body .wrapper .header .header-top {
          color: #ffffff;
          background: #313131;
          height: 3.6rem; }
          html body .wrapper .header .header-top .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            border: 1px solid red; }
            html body .wrapper .header .header-top .nav ul {
              display: flex;
              flex-direction: row;
              height: 100%; }
              html body .wrapper .header .header-top .nav ul li {
                padding-right: 5.6rem;
                height: 100%; }
                html body .wrapper .header .header-top .nav ul li a {
                  color: #ffffff;
                  line-height: 3.2rem; }
              html body .wrapper .header .header-top .nav ul li:last-child {
                padding-right: 0; }
        html body .wrapper .header .header-bottom {
          background: #FFFFFF;
          box-shadow: 0px 4px 10px rgba(228, 228, 228, 0.25);
          height: 8.3rem; }
          html body .wrapper .header .header-bottom .menu {
            display: flex; }
            html body .wrapper .header .header-bottom .menu .logo {
              height: 4.4rem;
              width: 18.3rem; }
            html body .wrapper .header .header-bottom .menu .search {
              color: #939393;
              background: #FCFCFC;
              border: 1px solid #E8E8EE;
              box-sizing: border-box;
              border-radius: 1px;
              height: 4.4rem;
              width: 46.1rem;
              display: flex;
              align-items: center; }
      html body .wrapper .content .linc-nav {
        height: 7.2rem;
        line-height: 7.2rem; }
        html body .wrapper .content .linc-nav a {
          padding-right: 26px;
          color: #979FAD;
          position: relative; }
          html body .wrapper .content .linc-nav a:hover {
            text-decoration: underline; }
          html body .wrapper .content .linc-nav a::after {
            display: inline;
            position: absolute;
            content: '/';
            padding: 0 13px; }
          html body .wrapper .content .linc-nav a:last-child {
            color: #363636; }
            html body .wrapper .content .linc-nav a:last-child::after {
              content: ''; }
      html body .wrapper .content .content-main {
        display: flex;
        justify-content: space-between; }
        html body .wrapper .content .content-main .left-nav {
          width: 24.05%;
          background-color: lightgreen; }
          html body .wrapper .content .content-main .left-nav .product-type {
            margin-bottom: 1.5rem;
            width: 100%; }
          html body .wrapper .content .content-main .left-nav .filters {
            background: #FCFCFC;
            border: 1px solid #E9E9E9;
            padding: 1.7rem; }
            html body .wrapper .content .content-main .left-nav .filters ul .filtre-item .filter-header {
              margin-bottom: 1.7rem; }
            html body .wrapper .content .content-main .left-nav .filters ul .filtre-item .checkbox-categories li {
              margin-bottom: 1.2rem; }
              html body .wrapper .content .content-main .left-nav .filters ul .filtre-item .checkbox-categories li input {
                margin-right: 15px; }
        html body .wrapper .content .content-main .content-info {
          width: 74.65%;
          background-color: lightyellow; }
          html body .wrapper .content .content-main .content-info .goods .product-card {
            background: #FFFFFF;
            border: 1px solid #E9E9E9;
            width: 266.7px;
            height: 360px;
            padding: 21px 25px 25px; }
            html body .wrapper .content .content-main .content-info .goods .product-card .pr-category {
              display: flex;
              justify-content: space-between; }
              html body .wrapper .content .content-main .content-info .goods .product-card .pr-category .pr-cat-title {
                margin: 0; }
            html body .wrapper .content .content-main .content-info .goods .product-card .pr-main-img {
              height: 190px; }
            html body .wrapper .content .content-main .content-info .goods .product-card .price {
              font-size: 22px;
              color: #202020;
              margin: 0; }
            html body .wrapper .content .content-main .content-info .goods .product-card .pr-descr {
              margin: 12px 0 12px; }
            html body .wrapper .content .content-main .content-info .goods .product-card .tags {
              display: flex; }
              html body .wrapper .content .content-main .content-info .goods .product-card .tags li {
                margin-right: 9px;
                width: 63px;
                height: 19px;
                background-color: #aaaaaa;
                color: #FFFFFF;
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.9rem; }
      html body .wrapper .footer .footer-top {
        height: 22.1rem;
        background: #F6F8FD; }
      html body .wrapper .footer .footer-bottom {
        height: 4.99rem;
        background: #EAEEF9; }

/*# sourceMappingURL=style.css.map */